<h1>Shots</h1>

  <!-- <div class="col-md-3">
    <label for="shot">Made</label>
    {{input type="radio" name="shot" id="value" class="form-control" value=made}}
  </div>

  <div class="col-md-3"><label>Missed</label>
    {{input id="value" type="radio" name="shot" class="form-control" value=miss}}
  </div> -->

<button class="btn btn-success" {{action "made"}}>New Made Shot</button>
<button class="btn btn-danger" {{action "missed"}}>New Missed Shot</button>



  <!-- <div class="form-group">
    <label for="made">Shot Made</label>
    {{input id="playerName" class="form-control" value=made}}
  </div> -->
