
<h1>{{playerName}}</h1>


{{#each stat}}
  <p>{{attempt}}</p>
  <p>{{made}}</p>
{{/each}}

<p>{{player.shootingPercent}}</p>
<!-- trying to use a computed property function-->

<p>{{#link-to "new-stat" this.id}} Add A New Stat {{/link-to}}</p>


{{outlet}}
